@mixin center-align {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

%center-flex {
	display: flex;
	align-items: center;
}

@mixin vertical-centered {
	@extend %center-flex;
	flex-direction: column;
}

@mixin horizontal-centered {
	@extend %center-flex;
	flex-direction: row;
}

@mixin select-like {
    background-image: url('~@/assets/select-arrow-32.png');
    background-position: center right;
    background-repeat: no-repeat;
}