@mixin center-align {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

@mixin vertical-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}