// site colours
$balcora-orange: #e0683b;
$balcora-blue: #337ce6;
$balcora-base-gray: #282828;
$balcora-dark-gray: darken($balcora-base-gray, 10%);
$balcora-highlight-gray: #393939;
$balcora-content-white: #dedede;
$balcora-font-size: 16px;