@import "styles/_variables";

@import "styles/highlight-js/monokai-sublime";

code {
	color: lighten($balcora-blue, 7%);
}

pre {
	color: #ddd;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 0.5em;
	background: $balcora-dark-gray;

	code {
		.hljs-keywords {
			color: #89ddff;
		}

		.hljs-number {
			color: #dd5422;
		}

		.hljs-symbol {
			color: #ddd;
		}
	}
}