@import './variables';
@import './mixins';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	box-sizing: border-box;
	font: $balcora-font-size Helvetica, Arial, sans-serif;
	color: $balcora-content-white;
	background-color: $balcora-base-gray;
	font-size: 20px;
}

a {
	color: $balcora-orange;
}

a:hover {
	color: $balcora-blue;
}

hr {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid $balcora-orange;
	background: none;
	height: 0;
	width: 90%;
}

.vertical-centered {
	@include vertical-centered();
}