@import './variables';
@import './mixins';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	box-sizing: border-box;
	font: $balcora-font-size Helvetica, Arial, sans-serif;
	color: $balcora-content-white;
	background-color: $balcora-base-gray;
	font-size: 20px;
	line-height: 1.3em;
}

a {
	color: $balcora-orange;
}

a:hover {
	color: $balcora-blue;
}

hr {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid $balcora-orange;
	background: none;
	height: 0;
	width: 90%;
}

blockquote {
	background: #222 !important;
	border: 1px solid #666 !important;
	border-radius: 2px !important;
	padding: 7px !important;
	font-style: italic !important;

	:first-child {
		margin-top: 0 !important;
	}

	:last-child {
		margin-bottom: 0 !important;
	}
}

.vertical-centered {
	@include vertical-centered();
}